* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header {
  padding: 48px;
}

.intro-chunk {
  margin: 0 auto;
  max-width: 640px;
  padding: 32px;
}

.intro-chunk p,
.intro-chunk h1 {
  max-width: 280px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 4px solid hsl(0deg, 0%, 30%);
  padding: 64px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  max-width: 640px;
  padding: 32px;
  margin: 0 auto;
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  padding: 16px 48px;
  margin-left: -48px;
  margin-top: -24px;
  display: inline-block;
}
